.Title {
  display: flex;
  align-self: center;
}

.outerDiv {
  justify-content: center;
  display: flex;
}

.Form {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Span {
  padding: 20px 0px;
}

.FormField {
  padding: 5px 0px;
}

.FormButton {
  margin: 5px;
}

.forgotPassword {
  padding-left: 10px;
  color: black;
  text-decoration: none;

  display: flex;
  align-self: baseline;
  flex-direction: columns;
  justify-content: unset;
}

.button {
  width: 200px;
  height: 25px;
  align-self: center;
  margin-right: 10px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}
