.generalFilters {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 3px auto;
}

.checkbox {
  margin: 20px auto 5px auto;
}

.title {
  font-weight: 700;
  display: flex;
  margin: 5px auto;
}
