.Header {
  width: 100%;
  min-height: 70px;
  height: 100%;
  background-color: orange;
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
