.forgotPassword {
  padding-left: 10px;
  color: black;
  text-decoration: none;

  display: flex;
  align-self: center;
}

.loginField {
  margin: 10px;
  padding: 10px 0px;
  display: inline-block;
  align-self: center;
}

.loginButton {
  width: 150px;
  height: 25px;
  align-self: center;
}

.errorMessage {
  align-self: center;
  padding: 10px;
}

.loginForm {
  display: flex;
  align-self: center;
  margin-right: 10px;
}

.resetPassword {
  align-self: center;
  padding: 10px;
}
